html,
body{

    margin:0;
    padding:0;

    width:100%;
    height:100dvh;

    overflow:hidden;

    background:black;

    touch-action:none;

}

canvas{

    display:block;

}

/* =====================================================
BOOT SCREEN
===================================================== */

#bootScreen{

    position:fixed;

    inset:0;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(
        to bottom,
        #0f1720,
        #05070a
    );

    z-index:99999;

}

#bootPanel{

    text-align:center;

    color:white;

    padding:40px;

}

#bootPanel h1{

    font-size:42px;

    margin-bottom:20px;

}

.bootText{

    opacity:0.8;

    margin-bottom:30px;

}

#startButton{

    padding:16px 28px;

    border:none;

    border-radius:10px;

    background:white;

    color:black;

    font-size:18px;

    cursor:pointer;

}

/* =====================================================
ORIENTATION
===================================================== */

#orientationOverlay{

    position:fixed;

    inset:0;

    display:none;

    justify-content:center;

    align-items:center;

    background:black;

    z-index:999999;

}

#orientationText{

    color:white;

    font-size:28px;

    text-align:center;

    padding:40px;

}